/* .Nav {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  color: #2A77AE;
  margin-bottom: 50px;
} */

/* ul.navList {
  display: flex;
  justify-content: space-around;
  font-size: calc(10px + 14 * (100vw - 320px)/ 800);
} */